<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.sys.dao.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cy.sys.pojo.entity.SysUser">
        <id column="id" property="id" />
        <result column="surrogate_id" property="surrogateId" />
        <result column="number" property="number" />
        <result column="login_account" property="loginAccount" />
        <result column="password" property="password" />
        <result column="user_name" property="userName" />
        <result column="telephone" property="telephone" />
        <result column="mail" property="mail" />
        <result column="dept_id" property="deptId" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="operator" property="operator" />
        <result column="operate_ip" property="operateIp" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, surrogate_id, number, login_account, password, user_name, telephone, mail, dept_id, status, deleted, operator, operate_ip, remark, create_time, update_time
    </sql>

</mapper>
